<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="pt"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Lucas Gomes Folador">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/estilo.css" />
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" />
<title>Produtos</title>
</head>
<body>

	<div th:replace="cabecalho :: header"></div>

	<div class="container">

		<div class="form-row">
			<div class="form-group col-md-12">
				<h2 class="h2">Produtos</h2>
			</div>
		</div>

		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${mensagem} != null">
			<strong th:text="${mensagem}">Mensagem!</strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div id="mensagem_erro"
			class="alert alert-danger alert-dismissible fade show" role="alert"
			style="display: none;">
			<strong>Erro ao cadastrar o produto!</strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-bordered"
				th:if="${produtos != null && !produtos.empty}">

				<tr class="thead-dark">
					<th>Foto</th>
					<th>Nome</th>
					<th>Custo de compra</th>
					<th>Descrição</th>
				</tr>
				<tr th:each="produto : ${produtos}" th:id="${produto.id}">
					<td><img height="50" width="50"
						th:src="@{'data:image/jpg;base64,' + ${T(org.springframework.util.Base64Utils).encodeToString(produto.foto)}}" />
					</td>
					<td th:text="${produto.nome}"></td>
					<td th:text="${#numbers.formatCurrency(produto.custoCompra)}"></td>
					<td th:text="${produto.descricao}"></td>
				</tr>
			</table>

		</div>

		<div th:if="${produtos != null && produtos.empty}"
			th:text="${'Não existem produtos cadastrados.'}"></div>

		<br /> <a class="btn btn-info text-white"
			th:href="@{/produtos/cadastro}"><i class="fas fa-plus-circle"></i>
			Novo</a>

	</div>

	<div th:replace="rodape :: footer"></div>

	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script
		th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>